<div class="row justify-content-center align-items-center">
  <div class="col-sm-6" align="center">
    <h1 class="">Core</h1>
    <h2 class="">The only newspaper you need</h2>
    <h3>Lorem odio adipisci voluptatibus voluptatum deleniti Corrupti labore nobis magni quam ullam? Fugit quisquam quibusdam temporibus facilis nihil Fugit nam.</h3>
    <br>
    <%= link_to "Go to articles", articles_path, class: "btn btn-outline-dark"%>
  </div>  
  <img class="col-sm-6" src="https://source.unsplash.com/l7dP0O8Dj60" height="600">
</div>
